@media screen and (max-width: 767.98px) {
  main {
    left: 0px !important;
    width: calc(100% - 0px) !important;
  }
}
@media screen and (max-width: 575.98px) {
  #add-category,
  #import-category {
    height: 100% !important;
    border-radius: 0px !important;
    max-width: 100% !important;
    max-height: 100% !important;
  }
}
